<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Accounting World {% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
 <img src="{% static 'quiz/img/king_fahad_logo.png' %}" alt="Your Image" style="position: absolute; top: 50px; left: 0; max-width: 100px; max-height: 100px; padding: 5px;">

{% include 'navbar.html' %}
  <!-- Content of other templates will go here -->
  {% block content %}

  {% endblock %}

 <img src="{% static 'quiz/img/socialconnectedness.jpg' %}" alt="Bottom Right Image" style="position: fixed; bottom: 20px; right: 0; max-width: 300px; max-height: 300px;">

</body>
</html>